body {
    margin: 0;
    min-height: 100vh;
    background-color: #1F2937;
    color: rgb(213, 212, 216);
    font-family: "Inter", sans-serif;
}

.container {
    width: 550px;
    height: 550px;
    margin-top: 64px;
    margin-left: 62px;
}

.title {
    width: 354px;
    height: 80px;
    margin-top: 115px;
    margin-left: 52px;
    font-family: Karla, sans-serif;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -2.5%;
    margin-bottom: 0;
}

.green-text {
    color: #41DA7B;
}

.hint {
    width: 372px;
    margin-left: 52px;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

hr {
    margin-top: 40px;
    margin-left: 52px;
    width: 446px;
    border: 1px solid #2F3E53;
}

button {
    background-color: #10B981;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 6px;
    border: none;
    margin-top: 20px;
    text-shadow: 0 1px 2px #0000000D; 
    cursor: pointer;
}

.passwords-container {
    display: flex;
    gap: 16px;
    margin-left: 52px;
    margin-top: 62px;
}

#password1-el, #password2-el {
    padding: 4px;
    border-radius: 6px;
    background-color: #273549;
    color: #55F991;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0; 
    text-align: center; 
    width: 211px; 
    margin: 0; 
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 52px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

#passwordlength-el {
    background-color: #273549;
    color: #55F991;
    border: none;
    border-radius: 2px;
    text-align: center;
    padding: 6px 12px;
    width: 60px;
    font-size: 16px;
}

#password1-el:hover, #password2-el:hover {
    background-color: #334155;
    transform: scale(1.02);
    transition: all 0.2s ease;
}

button:hover {
    background-color: #0ea574;
}

.text-container {
    display: flex;
    padding-right: 42px;
    font-size: 18px;
}

.toggle-container {
    display: flex;
    padding-right: 42px;
    align-items: center;
    gap: 16px;
    font-size: 18px;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}


.toggle input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #273549;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: #FFFFFF;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #55F991;
}

input:checked + .slider:before {
  transform: translateX(26px);
}