body {
    margin: 0;
    min-height: 100vh;
    background-color: #1F2937;
}

.header {
    width: 550px;
    height: 550px;
    margin-top: 64px;
    margin-left: 62px;
}

.title {
    width: 354px;
    height: 80px;
    margin-top: 115px;
    margin-left: 52px;
    font-family: Karla, sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 800;
    font-style: ExtraBold;
    line-height: 40px;
    letter-spacing: -2.5%;
    margin-bottom: 0;
}

.green-text {
    color: #41DA7B;
}

.hint {
    width: 372px;
    margin-left: 52px;
    font-weight: 400;
    font-size: 20px;
    color: rgb(213, 212, 216);
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
}

hr {
    margin-top: 40px;
    margin-left: 52px;
    width: 446px;
    border: 1px solid #2F3E53;
}

#password-el {
    font-family: "Inter", sans-serif;
    background-color: #10B981;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 6px;
    border: none;
    margin-left: 52px;
    margin-top: 20px;
    text-shadow: 0 1px 2px #0000000D;
    cursor: pointer;
}
